body {
	background-color: #000;
	font-family: sans-serif;
}

/**Form Login**/
.form-control {
	box-sizing : border-box;
	width: 100%;
	border: none;
}
.col-md-6{
	text-align: center;
	width: 100%;
}
h3{
	font-weight: bold;
	font-family: helvetica;
	color: #fff;
}
.row {
	width: 350px;
	background: #22cbf9;
	margin: 80px auto;
	padding: 30px 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.myFunction{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}

.btn-btn-primary{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}